---
title: Best Practices
heading: Best Practices
description: This is a non-exhaustive list of measures to take when handling XMR&nbsp;ID's.
best_practices:
        - Instruct your payers to verify the underlying Monero address to your XMR&nbsp;ID.
        - Keep a close eye on your email accout to spot DNS monitoring alerts as soon as possible.
        - Do not tinker with your DNS monitoring configuration. If you accidentally disable something you will not receive any alerts.
        - Keep risk within reason by requesting only low amounts of Monero through your XMR&nbsp;ID.
---

<div class="content">
        <hr/>
        <ul>
                {% for hint in page.best_practices %}
                        <li> {{ hint }} </li>
                {% endfor %}
        </ul>
        <hr/>
	
        <h3> Remember: </h3>
        <p>
                THE XMR.ID SERVICE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS, PROVIDERS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SERVICE OR THE USE OR OTHER DEALINGS IN THE SERVICE.
        </p> 

</div>
