---
title: Accept Monero payments to yourname@xmr.id
---
<section class="hero">
	<div class="text-container">
		<h1 class="editable">Start accepting Monero payments at <strong>yourname@xmr.id</strong></h1>
                <p class="subtext editable"><em>works with all major wallets, including the official Monero clients</em></p>
                {% comment %}
		<div class="cta button alt"><a href="{{ site.baseurl }}/sign-up/">Get Started Free</a></div>
		<div>
			<img src="{{ site.baseurl }}/images/dashboard.png" alt="Screenshot" class="screenshot editable" />
		</div>
                {% endcomment %}
                <div>
                                <div class="container flex">
                                        <div class="text editable">
                                                <p>
                                                Your user name is added to a directory and associated with your Monero address. All common wallets know how to handle XMR&nbsp;ID's. When a user enters one, the wallet queries the directory and loads your actual Monero address onto the screen. Money will then be sent to this actual address as usual - without intermediaries. Monitoring ensures the permanent integrity of the directory entry.
                                                </p>

		                                <div class="cta button alt"><a href="{{ site.baseurl }}#signup">Add your XMR&nbsp;ID</a></div>

                                                <p>
                                                At XMR.ID you pay just once for us to keep your XMR&nbsp;ID up.
                                                <a href="{{ site.baseurl }}/pricing/">How?</a>
                                                </p>
                                        </div>
                                </div>
                </div>
        </div>
</section>

<div>

	<section class="requirements">
		<div class="container flex">
			<div class="text editable">

                                <h2 id="signup">To set up your XMR&nbsp;ID I need three things</h2>
                        
                                {% include signup-form.html %}
			</div>
		</div>
	</section>
</div>

<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
                                <h2>The three steps to your XMR&nbsp;ID</h2>
			</div>
		</div>
	</section>
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2><strong>Step 1</strong>: Submit the required information</h2>
				<p>I will verify availability of your desired username and respond with further details.</p>
			</div>

			<div class="image">
				<img src="{{ site.baseurl }}/images/submit.jpg" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2><strong>Step 2</strong>: Pay</h2>
				<p>I will provide the a payment address to which you transfer the required amount of Monero.</p>
			</div>

			<div class="image">
				<img src="{{ site.baseurl }}/images/pay.jpg" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2><strong>Step 3</strong>: Wait for confirmation</h2>
				<p>Once I receive your payment, I configure your XMR&nbsp;ID and hand you the account details for DNS monitoring, which ensures the integrity of your XMR&nbsp;ID.</p>
			</div>

			<div class="image">
				<img src="{{ site.baseurl }}/images/wait.jpg" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section class="testimonial">
		<div class="container flex">
			<div class="testimonial-block">

				<div class="square-image"><img src="{{ site.baseurl }}/images/f.jpg" alt="fullmetalScience" class="editable"></div>
				<blockquote>
                                        <p class="editable">
                                        Everyone should be able to transact funds by addressing a simple username - Free from bureaucracy, censorship and high fees.</strong>
                                        </p>
                                        <p class="editable author">fullmetalScience, XMR.ID</p>
				</blockquote>
			</div>
		</div>
	</section>

{% comment %}
	<section class="bottom-cta">

		<div class="button alt"><a href="#">Get Started Free</a></div>
	</section>
{% endcomment %}

</div>
