---
title: Pricing
heading: |
        A fixed price
description: I provide the XMR&nbsp;ID service for a <em>one time fee</em>.
pricing_table:
  - name: One XMR&nbsp;ID of seven or more characters long<br/>(0.1&nbsp;XMR, one time)
    color: "#4c4c4c"
    features:
      - text: |
              [core functionality]<br/>A main <strong>yourname@xmr.id</strong> pointed to your chosen Monero address
        highlight: true
      - text: |
              [complimentary functionality]<br/>An additional <strong>yourname@xmrid.com</strong> pointed to the same address as the above
        highlight: true
      - text: |
              [primary security]<br/><strong>Fully controlled by you</strong> professional DNS monitoring at an independent third party provider for both addresses <br/><em>(I take care of the initial configuration. Once you claimed it, it's yours and I won't be able to access it any more.)</em>
        highlight: true
      - text: |
              [secondary security]<br/><strong>Me monitoring your DNS records</strong> via a paid-for and highly specialized third-party service, independant of the one mentioned above.<br/><em>Thus a total of two separate monitoring services (yours and ours) simultanously verify integrity.</em>
        highlight: true
    call_to_action:
      link: /
      text: I want this! Sign me up
  - name: One XMR&nbsp;ID of six characters or shorter<br/>(from 1 to 21&nbsp;XMR, one time)
    color: "#4a4a4a"
    features:
      - text: |
              [functionality]<br/>
              <strong>Everything the seven-character variant includes with the final cost depending on amount of characters:</strong>
        highlight: true
      - text: |
              six for 1&nbsp;XMR (eg <code>"monero"</code>)
      - text: |
              five for 2&nbsp;XMR (eg <code>"money"</code>)
      - text: |
              four for 3&nbsp;XMR (eg <code>"moon"</code>)
      - text: |
              three for 5&nbsp;XMR (eg <code>"mea"</code>)
      - text: |
              two for 8&nbsp;XMR (eg <code>"my"</code>)
      - text: |
              one for 13&nbsp;XMR (eg <code>"m"</code>)
      - text: |
              emoji for 21&nbsp;XMR (eg <code>"🧡"</code>)
    call_to_action:
      link: /
      text: Sounds good to me. Sign me up!
inactive_pricing_table:
  - name: Professional
    color: "#000000"
    features:
      - text: $299 per month
        highlight: true
      - text: Everything in Basic and Pro
        highlight: false
      - text: Up to 100 users
        highlight: false
      - text: Campaign builder
        highlight: false
      - text: Machine learning
        highlight: false
      - text: Calendar
        highlight: false
    call_to_action:
      link: http://mysite.com?plan=professional
      text: Get started
faq:
  - question: What types of payment do you accept?
    answer: Monero. Exclusively.
  - question: How do I pay?
    answer: Once you sent me the details you want to register, I respond with the payment details.
  - question: Can I make changes to my XMR ID?
    answer: Yes, but they require some extra steps which might reflect in an added fee in the future. For the time being they're free of charge.
  - question: Will this work on &lt;xyz wallet&gt;?
    answer: Registrations as such are independent of any particular software. To check if a specific one correctly resolves XMR ID's, enter `saberhagen.xmr.id` as payment destination. Compatible software should turn the ID into a valid Monero destination (before actually transferring any funds).
  - question: Other questions?
    answer: Contact me with any further questions at get at xmr dot id.
---
<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>


{% if page.faq %}
	<h2>Pricing FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
