{% comment %}
	<form action="{{ site.baseurl }}/contact-success/" method="post" class="contact-form">
		<input type="text" name="_gotcha" style="display: none;">
placeholder="42o2x145..  or  89eFQvWv..  or  9tYRaqpS..  or  Bd2d7Vj2..  or  51uafRj8..  or  791Ynoi6.." required />
{% endcomment %}
        <form method=POST action="//get.xmr.id/cgi-bin/entry.sh?mode=mainnet">
                <ol>
                        <li>
                                <label for="name">
                                        The <strong>username</strong> you would like to register as your XMR ID
                                        - <a class="tooltip-only" href="#" title="I've been requested to also offer shorter variants. The respective prices per total amount of characters are:

                                                               six characters:    1 XMR
                                                               five characters:   2 XMR
                                                               four characters:   3 XMR
                                                               three characters:  5 XMR
                                                               two characters:    8 XMR
                                                               one character:    13 XMR
                                                               one emoji:        21 XMR
                                                               "><em>minimum 7 characters if you want the lowest price</em></a>
                                </label>
                                
                                <input type="text" name="name" id="name" maxlength=63 required
                                                               placeholder="your_desired_username" />

                                        <em>numbers or letters (<a class="tooltip-only" href="#" title="saberhagen">example</a>)
</em>
                                
                                <br/>
                        </li>
                        <li>

                                <label for="destination">
                                        Your <strong>Monero account number</strong>
                                </label>

                                <input type="text" name="destination" id="destination" maxlength=100 required
                                                                      placeholder="42o2x145..  or  89eFQvWv.." />
                                <em>address or sub-address (<a class="tooltip-only" href="#" title="874xgosgpSVJ1y5N8wybRGa5QrR3zKi8AWojr2pwnMB3YPNQTSPZMe9BhExgMbx2pQaYG6Yf8TJ6gJdRkQFSyouy4ZqWt6u">example</a>)</em>

                                <br/>
                        </li>
                        <li>

                                <label for="email">
                                        An <strong>email address</strong> you frequently check where you want to receive payment instructions
                                </label>

                                <input type="email" name="email" id="email" required
                                                                 placeholder="you@example.org" />
                                <em>will receive monitoring alerts (<a class="tooltip-only" href="#" title="saberhagen@cnexamples.org">example</a>)</em>
                        </li>
                </ol>

                <span><em>Should this form act up, feel free to email the information to get at xmr dot id instead.</em><br/>
                <em>Also be sure to get in touch if neither your <strong>inbox nor spam folder</strong> receive our message.</em></span>
                <input type=submit value="Request XMR ID">
        </form>

