---
layout: page
---
<div class="blog-post text-container">
	{% include post-title.html post=page %}

	<p class="editor-link"><a href="cloudcannon:collections/{{ page.path }}" class="btn"><strong>&#9998;</strong> Edit Post</a></p>
	<div class="post-content">
		{{ content }}

		<div class="author">
			{% assign author_id = page.author_staff_member | prepend: "/staff_members/" | append: "/" %}
			{% assign author = site.staff_members | where: "url", author_id | first %}
			<div class="square-image"><img src="{% include relative-src.html src=author.image_path %}" alt="{{ author.name }}"/></div>
			<p class="blurb">{{ author.blurb }}</p>
		</div>

		<div class="blog-navigation">
			{% if page.previous.url %}
				<a class="prev" href="{% include relative-src.html src=page.previous.url %}">&laquo; {{ page.previous.title }}</a>
			{% endif %}
			{% if page.next.url %}
				<a class="next" href="{% include relative-src.html src=page.next.url %}">{{ page.next.title }} &raquo;</a>
			{% endif %}
		</div>
	</div>
</div>
